:root {
    --primary: #ff6a3e;
    --primaryLight: #ffba43;
    --secondary: #ffba43;
    --secondaryLight: #ffba43;
    --headerColor: #1a1a1a;
    --bodyTextColor: #4e4b66;
    --bodyTextColorWhite: #fafbfc;

    --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
    --headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
    --bodyFontSize: 1rem;
    --sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
}

/* Basic reset used across the whole site */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Main page defaults */
body {
    margin: 0;
    padding: 0;
    background-color: #000;
    overflow-x: hidden;
}

/* CodeStitch default small heading style */
.cs-topper {
    display: block;
    margin-bottom: 0.25rem;
    color: var(--primary);
    font-size: var(--topperFontSize);
    font-weight: 700;
    line-height: 1.2em;
    letter-spacing: 0.1em;
    text-align: inherit;
    text-transform: uppercase;
}

/* CodeStitch default title style */
.cs-title {
    position: relative;
    max-width: 43.75rem;
    margin: 0 0 1rem;
    color: var(--headerColor);
    font-size: var(--headerFontSize);
    font-weight: 900;
    line-height: 1.2em;
    text-align: inherit;
}

/* CodeStitch default paragraph style */
.cs-text {
    width: 100%;
    max-width: 40.625rem;
    margin: 0;
    color: var(--bodyTextColor);
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    text-align: inherit;
}